*,
*::before,
*::after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}
body, html{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
    height: auto;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Red Hat Display', sans-serif;
}
ul li {
    list-style: none;
}
.fw-background {
    z-index: 0;
    align-items: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto;
}
.fw-background.hero{
    background-image: url("../images/Optimized-pexels-hero-test.png");
}
.fw-background.hero::after{
    content: "";
    background: linear-gradient(to bottom,rgba(255,0,0,0),black);
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.fw-background.destinations{
    background-image: url("../images/Optimized-destinations-section2.png");
}
.fw-background.about-us{
    background-image: url("../images/Optimized-pexels-about-us-test.png");
    height: 100%;
}
.fw-background.testimonials{
    background-image: url("../images/Optimized-testimonials-section.png");
}
.fw-background.contacts{
    background-image: url("../images/Optimized-pexels-brandon-morrison-blacked.png");
    background-attachment: fixed;
}
.fw-background.see-you-soon{
    background-color: black;
}
.fw-background.site-footer{
    background-image: url("../images/footer3.png");
}

#back-to-top-button {
    display: inline-block;
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-to-top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: black;
}
#back-to-top-button:hover {
    cursor: pointer;
    background-color: #cbcbcb;
}
#back-to-top-button:active {
    background-color: #828282;
}
#back-to-top-button.show {
    opacity: 1;
    visibility: visible;
}
/* ---------------------------------------------------------- */

.site-header{
    position: fixed;
    width: 100%;
    display: block;
    z-index: 1;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 120px 20px;
}
header .container {
    padding: 0 20px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.site-header .container{
    justify-content: space-between;
    align-items: center;
}
.main-nav li{
    list-style: none;
}
.main-nav > a{
    color:#fff;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 17px;
    margin: 0 5px;
}
.mobile-nav {
    display:none;
}
.logo{
    padding: 40px 0;
}
.logo img{
    width: 150px;
}
.menu-btn > a{
    font-size:0.9rem;
    font-weight: 500;
    letter-spacing:0.15em;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    padding:20px 40px 20px;
    border-radius:150px;
    display:block;
    z-index: 1;
    border: 2px solid black;
}
.menu-btn > a:hover{
    display: block;
}

/* ---------------------------------------------------------- */
/* HERO */

.hero-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.hero-heading h1{
    color:#fff;
    font-size: 3rem;
    margin: 20px auto;
    text-transform: uppercase;
    border-radius: 150px;
    padding: 15px 0 5px 0;
    justify-content: center;
    text-align: center;
}
.hero-heading h2{
    color: #fff;
    text-transform: uppercase;
    border-radius: 150px;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 1rem;
    justify-content: center;
    align-content: center;
}
.hero-heading p{
    color: #fff;
    border-radius: 150px;
    padding: 10px 0;
    margin: 10px auto;
    max-width: 80%;
}

/* ---------------------------------------------------------- */
/* DESTINATIONS */

.destinations-heading {
    justify-content: center;
    align-content: center;
    color: white;
    display: flex;
    width: 100%;
    margin: auto auto;
}
.upper-content{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 20px;
    width: 100%;
    max-width: 950px;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.destinations-heading h2{
    margin: 0;
    font-size: 2.5rem;
}
.destinations-heading p:nth-of-type(2){
    margin: 0 5px;
}
.destinations-heading p:first-of-type {
    margin: 0 0 0 10px;
    color: #9c53ff;
}
.trip-info{
    display: flex;
    align-items: center;
    max-width: 50%;
}
.destinations-selection {
    color: #fff;
    justify-content: center;
}
.destinations-selection h3 {
    padding: 10px 10px;
}
.destinations-selection h3:hover {
    background-color: rgba(60,60,60,0.5);
    color: #9c53ff;
}
.lower-content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.destinations-block {
    width: 100%;
    margin: 100px auto;
    justify-content: center;
}
.destinations-block-descriptions {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 10px;
}
.destinations-block-images {
    max-height: 400px;
    border-radius: 20px;
}
.descriptions h2 {
    font-size: 2.5rem;
}
.descriptions p{
    max-width: 300px;
    margin: 10px auto;
}
.destinations-lower-content.flex-container {
    padding: 0 20px;
}
.sharing {
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.sharing h3 {
    color: #fff;
}
.sharing a {
    color: #fff;
    padding: 4px;
}
.sharing a:hover{
    color: #fff;
}
.destination-content {
    display: none;
}
.destination-content.show {
    display: block;
}

/* ---------------------------------------------------------- */
/* ABOUT US */
.about-us-container {
    margin: auto;
    justify-content: center;
}
.about-descriptions {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    color: #fff;
    padding-bottom: 20px;
    align-items: center;
}
.about-images {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* width: 100%; */
    max-width: 300px;
    align-items: center;
    padding-left: 10px;
}
.about-descriptions h2 {
    font-size: 2.5rem;
    
}
.about-descriptions p {
    margin-top: 10px;
    text-align: left;
}
.our-picture {
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    width: auto;
    margin: auto;
}
.our-picture img {
    max-height: 100px;
    padding: 5px;
}

/* ---------------------------------------------------------- */
/* TESTIMONIALS */

.testimonial-content-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    justify-content: center;
}

.testimonials-heading {
    color: #fff;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.testimonials-heading h2 {
    font-size: 2.5rem;
}

.testimonial-person {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    margin: 10px auto;
    justify-content: center;
    color: white;
    position: relative;
}

.testimonial-person h3 {
    max-width: 300px;
    margin: 10px auto 10px auto;
}

.testimonial-person p {
    max-width: 300px;
    margin: 10px auto 10px auto;
    font-weight: 400;
}

.testimonial-person-details {
    display: flex;
    margin-top: 20px;
}

.testimonial-person-details img {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 10px;
    align-content: center;
}

.testimonial-person-details p {
    padding-left: 10px;
    justify-content: center;
    align-self: center;
    letter-spacing: 1px;
}

/* ---------------------------------------------------------- */
/* CONTACTS */

.contacts-container {
    margin: auto;
    width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.section-heading {
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px;
}

.section-heading h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: black;
    margin: auto;
    padding-bottom: 10px;
}


.section-heading p {
    margin: auto;
    width: 100%;
    font-weight: 400;
    color: black;
}


.input-row {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

.input-row input {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.submit-btn {
    cursor: pointer;
    font-size:0.9rem;
    font-weight: 500;
    letter-spacing:0.15em;
    color:black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    padding:20px 40px 20px;
    border: 2px solid black;;
    border-radius:10px;
    display:block;
    margin: 60px auto 0;
}

.submit-btn:hover {
	background:#cbcbcb;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

/* ---------------------------------------------------------- */
/* SEE YOU SOON */

section.see-you-soon {
    max-height: 100vh;
}

.see-you-soon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 20vh;
    margin: 0 auto;
    color: #fff;
}

.see-you-soon-container p {
    margin: auto;
}

.see-you-soon-container h2 {
    font-size: 2.2rem;
}

.see-you-soon > .container {
    padding: 50px;
}

.mh-fix {
    min-height: 100vh;
}

/* ---------------------------------------------------------- */
/* FOOTER */

.site-footer {
    max-height: 100vh;
}

.socials {
    margin: auto;
    color: white;
    padding: 4px;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.socials h3 {
    margin: 0 13px;
}
.socials a {
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0 13px;
}

.copyright {
    margin: auto;
    color: #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-logo{
    padding: 40px 0;
    margin: auto;
}

.footer-logo img{
    width: 150px;
}



/* ---------------------------------------------------------- */
/* MEDIA QUERIES */

@media screen and (min-width:480px){

}
@media screen and (min-width:769px){
    .contacts-container {
        width: 70%;
    }
    .about-images .our-picture img {
        max-width: 30vw;
        max-height: 18vh;
        padding: 5px;
    }
}
@media screen and (min-width:979px){
    .contacts-container {
        width: 50%;
    }
    .about-images {
        max-width: 500px;
    }
    .menu-btn {
        position:relative;
        width:100%;
        float: right;
        max-width: 25vw;
        display:block;
    }
    .menu-btn ul {
        flex-direction:column;
        display:none;
        position:absolute;
        top: 65px;
        right: 0;
        padding:20px;
        background-color: #fff;
        z-index: 2;
        border: 1px solid black;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    }
    .menu-btn li {
        list-style:none;
    }
    .menu-btn a {
        color:black;
        font-size:1rem;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        margin:0 5px;
        padding:10px 50px;
        display:block;
    }
    .menu-btn a:hover, .menu-btn a:active {
        color:black;
        background-color: #cbcbcb;
        -webkit-transition:background 0.3s ease-in-out;
	    -moz-transition:background 0.3s ease-in-out;
	    transition:background-color 0.3s ease-in-out;
    }
    .menu-btn a.icon {
        display:block;
        position:absolute;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.5rem;
        right:0;
        color:black;
    }
    .main-menu li {
        border-bottom: 1px solid #00000080;
    }
    .main-menu li a {
        font-weight: 400;
    }
    .main-menu li a:hover, .main-menu li a:active {
        background-color: #cbcbcb;
        -webkit-transition:background 0.3s ease-in-out;
	    -moz-transition:background 0.3s ease-in-out;
	    transition:background-color 0.3s ease-in-out;
    }

    
}
@media screen and (min-width:1200px){
    .about-images {
        max-height: 720px;
        max-width: 550px;
    }
}
/* -------------- */
@media screen and (max-width:980px) {
        .main-nav {
            display:none;
        }
        .site-header .container {
            display: block;
        }
        .logo {
            float: left;
        }
        .mobile-nav {
            position:relative;
            width:100%;
            display:block;
        }
        .mobile-nav ul {
            flex-direction:column;
            display:none;
            position:absolute;
            top:120px;
            right: 0;
            padding:20px;
            background-color:#fff;
            border-radius: 0.5rem;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
            border: 1px solid black;
        }
        .mobile-nav li {
            list-style:none;
            border-bottom: 1px solid #00000080;
        }
        .mobile-nav a {
            color:black;
            font-size:1rem;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            margin:0 5px;
            padding:10px 17px;
            display:block;
        }
        .mobile-nav a:hover, .mobile-nav a:active {
            background-color: #cbcbcb7d;
            color:black;
            border-radius:5px;
        }
        .mobile-nav a.icon {
            display:block;
            position:absolute;
            right:0;
            top:60px;
            color:#fff;
            border-radius: 0.5rem;
            display: inline-block;
        }
        .mobile-menu li a {
            font-weight: 400;
            border-bottom: 1px solid #00000080;
        }
}